## Introduction

During this class section we will be make a dataset (suprise suprise) by folowing this notebook. We will scrape data off of [https://money.com/best-colleges/](https://money.com/best-colleges/). Money is an independent, advertiser-supported website and their editors "research hundreds of sources and contact hundreds of the most respected experts in each industry to get the most relevant information to help others make the right purchasing decision." The data consists of various/useful metrics of the the best colleges in America ranked by value (as determined by the website). 

We will follow the steps of the web scraping "pipeline" in this notebook.

Features of the dataset - Demo

First lets explore the website

# Import Packages

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np

Make an GET request to get all the html from this webpage, print out the status code and the server that is giving you the html

Pass in the html document into a beautiful soup object

Run this code cell to define this simple function. What is this function doing? What are we going to use it? What type of object does `element` have to be?

In [7]:
def func(element):
  return element.string

Use the above function and find the proper CSS Selectors to get the respective data, I will demo the first one. Note that getting CSS selectors can be tricky. I usually like to do a combo of the SelectorGadget extension and the Inspect Element tool to determine proper selectors.

In [1]:
college_names = []
college_location = []
overall_score = []
acceptance_rate = []
Est_full_price_22_23 = []
Est_price_with_avg_grant = []
percent_of_student_who_get_grants = []
graduation_rate = []
early_career_earnings = []

Now that we have all the data from the table stored into their respective lists, we can move onto getting data specific to the college by "clicking" on the link in the table. How do be "click" links on a webpage with `requests` and `BeautifulSoup`? Implement it below by "clicking" on the "University of Michigan".

Below I initialized a bunch of lists that will store data specific to a college.

In [14]:
avg_price_for_low_income_students = []
median_sat_act_score = []
sat_act_required = []
undergrad_enrollment = []
percent_of_students_with_need_who_get_grants = []
percent_of_need_met = []
percent_of_students_who_get_merit_grants = []
avg_merit_grant = []
avg_time_to_a_degree = []
median_student_debt = []
percent_earning_more_than_a_high_school_grad = []

"Click" on each link and extract the proper data (make sure to find and use the right CSS Selectors) and then add them to the list.

The focus on this week's material is on the `pandas` package which is what we will use to store the data we extract from a webpage. I have made the code to package all the data into a dataset and save it as a `.csv` file. You will understand how I am doing this after going through this week's material.

In [12]:
data = {
    "college_names": college_names, 
    "college_location": college_location, 
    "overall_score" : overall_score,
    "acceptance_rate" : acceptance_rate,
    "Est_full_price_22_23": Est_full_price_22_23, 
    "Est_price_with_avg_grant": Est_price_with_avg_grant, 
    "percent_of_student_who_get_grants": percent_of_student_who_get_grants, 
    "graduation_rate": graduation_rate,
    "early_career_earnings": early_career_earnings,
    "avg_price_for_low_income_students": avg_price_for_low_income_students,
    "median_sat_act_score" : median_sat_act_score,
    "sat_act_required" : sat_act_required,
    "undergrad_enrollment": undergrad_enrollment, 
    "percent_of_students_with_need_who_get_grants" : percent_of_students_with_need_who_get_grants,
    "percent_of_need_met" : percent_of_need_met,
    "percent_of_students_who_get_merit_grants" : percent_of_students_who_get_merit_grants, 
    "avg_merit_grant" : avg_merit_grant,
    "avg_time_to_a_degree" : avg_time_to_a_degree,
    "median_student_debt" : median_student_debt,
    "percent_earning_more_than_a_high_school_grad" : percent_earning_more_than_a_high_school_grad 

}

In [13]:
college_df = pd.DataFrame(data=data)

In [14]:
college_df.head()

,college_names,college_location,overall_score,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,percent_of_student_who_get_grants,graduation_rate,early_career_earnings,avg_price_for_low_income_students,median_sat_act_score,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad
0,University of Michigan,"Ann Arbor, MI",\n 89.41\n,\n 23%\n,"\n $32,400\n","\n $18,800\n",\n 53%\n,\n 92%\n,"\n $75,840\n","$2,670",1440/33,No,"31,050",81%,92%,11%,"$5,670",4.2 years,"$18,526",81%
1,University of North Carolina at Chapel Hill,"Chapel Hill, NC",\n 86.22\n,\n 23%\n,"\n $25,200\n","\n $10,600\n",\n 53%\n,\n 89%\n,"\n $61,920\n","$3,750",1410/31,No,"19,010",90%,100%,5%,"$7,030",4.1 years,"$14,500",78%
2,University of Virginia,"Charlottesville, VA",\n 86.11\n,\n 24%\n,"\n $36,700\n","\n $20,100\n",\n 48%\n,\n 94%\n,"\n $77,050\n","$12,480",1430/32,No,"16,720",91%,100%,4%,"$5,630",4.1 years,"$18,250",84%
3,Massachusetts Maritime Academy,"Buzzards Bay, MA",\n 86.07\n,\n 91%\n,"\n $31,600\n","\n $18,600\n",\n 43%\n,\n 73%\n,"\n $91,670\n","$6,380",1100/22,No,"1,650",56%,71%,11%,"$5,530",4.2 years,"$26,000",91%
4,Virginia Military Institute,"Lexington, VA",\n 85.14\n,\n 60%\n,"\n $33,300\n","\n $20,000\n",\n 85%\n,\n 78%\n,"\n $71,910\n","$10,560",1180/25,No,"1,700",77%,88%,14%,"$13,100",4.1 years,"$21,500",85%

Notice the shape of the dataset, we have 623 rows and 20 columns

In [ ]:
college_df.shape

(623, 20)